/*zeroing out styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

li, ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------*/
body {
  font-family: 'Raleway', sans-serif;
  color: #6c7279;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

/* HEADER
--------------------------------------------*/
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  /* .header__inner */
  /* .header__logo */
  /* .header__nav */
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 20px;
  border-bottom: 1px solid #505268;
}
.header__logo {
  font-size: 30px;
  color: #66697e;
  font-weight: 800;
}
.header__logo span {
  color: #fff;
  font-weight: 200;
}

.nav {
  /* .nav__link */
}
.nav__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding-right: 60px;
  opacity: .75;
  transition: opacity .2s linear;
}
.nav__link:last-child {
  padding: 0;
}
.nav__link:hover {
  opacity: 1;
}

/*INTRO
--------------------------------------------*/
.intro {
  height: 650px;
  padding-top: 100px;
  background: #2a2e48;
  background: url("../img/intro-bg.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  /* .intro__inner */
  /* .intro__title */
  /* .intro__text */
  /* .intro__btn */
}
.intro__inner {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.intro__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 65px;
  line-height: 1.1;
  padding-top: 140px;
}
.intro__text {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  padding: 43px 0 80px 0;
}
.intro__btn {
  padding: 14px 40px;
}

.btn {
  background-color: #e84545;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 2px;
}

/* Features 
--------------------------------------------------------------*/
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 120px 0;
  /* .features__block */
  /* .features__icon */
  /* .features__title */
  /* .features__text */
}
.features__block {
  max-width: 336px;
  margin: 0 auto;
  padding: 0 20px 50px 20px;
  text-align: center;
}
.features__block:last-child {
  padding: 0 20px 0 20px;
}
.features__icon {
  margin-bottom: 35px;
}
.features__title {
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 14px;
}
.features__text {
  font-size: 14px;
  line-height: 21px;
}

/*Words
---------------------------------------------*/
.works {
  display: flex;
  flex-wrap: wrap;
  /* }works__item */
}
.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  /* }works__item:hover */
}
.works__item:hover {
  /* }works__text */
}
.works__item:hover .works__block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(232, 69, 69, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.works__item:hover__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.works__item:hover__text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.works__img {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

/* }works*/
/*Workers
--------------------------------------------------------*/
.workers {
  margin: 100px 0;
  display: flex;
  /* .workers__item */
  /* .workers__face-img */
  /* .workers__name */
  /* .workers__founder */
  /* .workers__text */
  /* .workers__icons */
}
.workers__item {
  width: 25%;
  padding: 0 15px;
}
.workers__face-img {
  display: block;
  width: 40%;
  height: auto;
}
.workers__name {
  color: #000;
  font-size: 22px;
  margin-top: 20px;
}
.workers__founder {
  margin-top: 14px;
  text-transform: uppercase;
  color: #e84545;
}
.workers__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
}
.workers__icons {
  margin-top: 50px;
}
.workers__icons .facebook {
  border: 1px solid #e8ecee;
  padding: 12px 15px;
}
.workers__icons .twitter {
  border: 1px solid #e8ecee;
  padding: 12px 9px;
}
.workers__icons .instagram {
  border: 1px solid #e8ecee;
  padding: 12px 11px;
}

/* workers */
/*Footer
---------------------------------------------------------*/
.footer {
  height: 250px;
  background-color: #3a3e64;
  /* .footer__inner */
  /* .footer__item */
  /* .footer__title */
  /* .footer__text */
  /* .footer__icons */
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.footer__item {
  width: 33.3333%;
  padding-top: 70px;
}
.footer__title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer__text {
  margin-top: 15px;
  line-height: 22.5px;
}
.footer__icons {
  margin-top: 33px;
}
.footer__icons .facebook {
  border: 2px solid #fff;
  padding: 12px 15px;
  margin-right: 7px;
}
.footer__icons .twitter {
  border: 2px solid #fff;
  padding: 12px 9px;
  margin-right: 7px;
}
.footer__icons .instagram {
  border: 2px solid #fff;
  padding: 12px 11px;
}

.copyright {
  height: 94px;
  background-color: #313454;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* .copyright__text */
}
.copyright__text {
  line-height: 22.5px;
}
.copyright__text span {
  color: #fff;
  font-weight: 700;
}

.header.fixed {
  position: fixed;
  background-color: #2a2e48;
  height: auto;
}
.header.fixed .header__inner {
  padding: 15px 20px;
}

/* Media
-------------------------------------------------*/
@media (max-width: 1300px) {
  /* works */
  .works {
    /* works__item */
  }
  .works__item {
    width: 50%;
    height: 250px;
  }
}
@media (max-width: 1170px) {
  /* .workers */
  .workers {
    flex-wrap: wrap;
    /*workers__item*/
    /* workers__face-img */
  }
  .workers__item {
    text-align: center;
    width: 50%;
    padding: 0 0 30px 0;
  }
  .workers__face-img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  /*header*/
  .header__nav {
    display: flex;
    flex-direction: column;
    background-color: #31344e;
    text-align: right;
    position: absolute;
    top: -250%;
    width: 100%;
    right: 0;
    transition: all 0.3s ease 0s;
    /* header__nav.active */
  }
  .header__nav.active {
    top: 100%;
  }

  .nav__link {
    padding: 7px 15px;
    /* nav__link:last-child */
  }
  .nav__link:last-child {
    padding: 10px 15px;
  }

  /* burger */
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    /* header__burger:before */
    /* header__burger:after */
    /* header__burger.active span */
    /* header__burger.active:before */
    /* header__burger.active:after */
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    height: 2px;
  }

  /*intro*/
  .intro__title {
    font-size: 40px;
  }
}
  /* .workers */
  .workers {
    flex-wrap: wrap;
    /* workers__face-img */
  }
  .workers__item {
    width: 100%;
    text-align: center;
    padding: 0 0 30px 0;
  }
  .workers__face-img {
    margin-left: auto;
    margin-right: auto;
  }

  /* reviews */
  .reviews {
    /* .reviews__comment */
    /* .reviews__name */
  }
  .reviews__comment {
    font-size: 24px;
  }
  .reviews__name {
    font-size: 12px;
  }

  /* downlaod */
  .download {
    padding: 50px 0;
    /* .download__title */
    /* .download__sub-title */
    /* .download__btn */
  }
  .download__title {
    font-size: 20px;
  }
  .download__sub-title {
    font-size: 12px;
    padding: 12px 0 25px 0;
  }
  .download__btn {
    padding: 14px 70px;
  }

  .footer {
    height: 300px;
    /* .footer__item */
  }
  .footer__item {
    width: 100%;
    padding: 16px 0;
  }
}
/* max-width: 767px */

